.hero-section{
    margin: 0;
    margin-bottom: 168px;
    padding-top: 137px;
    padding-bottom: 137px;
    padding-left: 85px;
    background-image: url("../images/Bitmap.png");
    width: 1280px;
    height: 450px;
}
.hero-heading{
    margin-bottom: 24px;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    font-family: Fraunces 9pt;
    color: #FEFCF7;


}
.hero-paragraf{
    width: 445px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    font-family: Barlow;
    color: #FEFCF7;


}